/*      COLUM STYLING */
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    /*background: #FFFDE3;*/
    background: #DFDFDF;
    border-radius: 15px;
}

.contactInfo {
    max-width: 500px;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
}

.contactInfoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 25px;
    margin: 25px 0;
}

.adres {
    display: flex;
    flex-direction: column;
}

/*      FORMULIER     */
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 50px 0;

}

fieldset {
    /*width: 650px;*/
    border: 0;
}

input {
    width: 350px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    font: inherit;
    padding-top: 10px;
    padding-left: 5px;
}

input:placeholder-shown {
    font: inherit;
    padding-left: 5px;
}

textarea:placeholder-shown{
    font: inherit;
    padding-top: 10px;
    padding-left: 5px;
}

@media screen and (max-width: 768px) {
    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
