.outer-contact {
    background: #F3F3F3;
}

/*      COLUM STYLING */
.colums {
    display: flex;
    flex-direction: row;
    border: 2px solid blueviolet;
    gap: 50px;
    /*max-width: 1200px;*/
    /*width: 1200px;*/
    flex-shrink: 1;
    flex-grow: 3;
    /*background: #FFFDE3;*/
}

.contactInfo {
    border: 2px solid yellow;
    background: #87B6BA;
    max-width: 500px;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
}

.contactInfoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 25px;
    margin: 25px 0;
}

.adres {
    display: flex;
    flex-direction: column;
}

/*      FORMULIER     */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 800px;*/
    margin: 50px 0;
    /*max-width: 750px;*/
    border: 3px solid red;
}

fieldset {
    /*width: 650px;*/
    border: 0;
}

input {
    width: 350px;
    height: 35px;
}

textarea {
    /*width: 350px;*/
}