.parent-activity-box {
    display: flex;
    flex-direction: row;
}

.activity-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    border: 2px solid red;
    margin: 25px;
    height: auto;
    min-height: 400px;
    padding: 0 15px;
}

.btn-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-subscribe {
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    font: inherit;
    font-size: 1em;
    color: white;
    background-color: #87b6ba;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.activity-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    border: 2px solid red;
    margin: 25px;
    height: auto;
    padding: 0 15px;
}

.activity-info-box h3, p {
    padding: 5px 0;
}

.btn-grp {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 768px) {
    .parent-activity-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity-box {
        min-height: 300px;
        max-width: 650px;
        width: 100%;
        border: 2px solid red;
        margin: 25px;
    }

    .btn-grp {
        display: flex;
        flex-direction: column;
    }

}